.gradle
/local.properties
.DS_Store
*.iml

# idea

/.idea/**/*.xml

!/.idea/codeStyleSettings.xml
!/.idea/copyright/*.xml
!/.idea/fileColors.xml
!/.idea/encodings.xml
!/.idea/gradle.xml
!/.idea/runConfigurations/*.xml

!/inspectionProfiles/*.xml
/inspectionProfiles/profiles_settings.xml

!/scopes/*.xml
/scopes/scope_settings.xml

!/templateLanguages.xml
!/vcs.xml

